<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        2017-2018 © <a href="https://paul.bottein.fr">Paul Bottein</a>.
      </p>
    </div>
  </div>
</footer>