<section class="hero is-medium is-primary">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
        <%= hero.title %>
			</h1>
			<h2 class="subtitle">
        <%= hero.subtitle %>
			</h2>
		</div>
  </div>
</section>
<nav class="navbar has-shadow">
    <div class="container">
        <div class="navbar-tabs">
            <a href="#experiences" class="navbar-item is-tab">
              Experiences
            </a>
            <a href="#education" class="navbar-item is-tab">
              Formation
            </a>
            <a href="#skills" class="navbar-item is-tab">
              Compétences
            </a>
            <a href="#contact" class="navbar-item is-tab">
              Contact
            </a>
        </div>
    </div>
</nav>